.modal {
	display: none;

	position: relative;
	width: 768px;

	background-color: #fff;
	color: #000;

	@include tablet {
		width: 738px;
	}

	@include mobile {
		max-width: calc(100% - 30px);
	}
}

.modal__img {
	height: 370px;
	background-color: #f6f6f6;
	background-image: url('./../img/projects/laptop-big.svg');
	background-position: center center; /* x y */
	background-size: auto;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;

	@include mobile {
		height: 246px;
		background-size: 290px 165px;
	}

	img {
		margin-top: -12px;
		width: 382px;
		height: 240px;
		object-fit: cover;

		@include mobile {
			margin-top: -7px;
			width: 220px;
			height: 138px;
		}
	}
}

.modal__content {
	padding: 20px 40px 30px;

	@include mobile {
		padding: 20px;
	}
}

.modal__title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;

	@include mobile {
		font-size: 22px;
	}
}

.modal__text {
	margin-bottom: 20px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;

	p + p {
		margin-top: 15px;
	}

	* + ul {
		margin-top: 15px;

		@include mobile {
			margin-top: 10px;
		}
	}

	ul {
		color: #0f7dff;


		li {
			padding-left: 20px;
			position: relative;

			&::before {
				content: "";

				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);

				display: inline-block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #0F7DFF;
			}
		}

		li + li {
			margin-top: 10px;
		}
	}

	@include mobile {
		line-height: 1.5;
	}
}

.modal__tags {
	margin-bottom: 20px;
}

.modal__links {
	display: flex;
	align-items: center;
	gap: 10px;

	@include mobile {
		flex-direction: column;

		align-items: stretch;
	}
}
