@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	color: #000;
}

a, a:link, a:visited {
	color: #0F7DFF;
}

a:focus,
button:focus {
	outline-offset: 1px;
	outline: #005fcc auto 1px;
}

p + p {
	margin-top: 1em;
}
